.git
*.bak*
*.tmp.*
alacritty/.config/alacritty/colorschemes/*
fish/.config/fish/functions/*
ncmpcpp/.config/mpd/*
ncmpcpp/.ncmpcpp/*

!/alacritty/.config/alacritty/colorschemes/Tokyo_night.toml
!/fish/.config/fish/functions/bass.fish
!/fish/.config/fish/functions/tide.fish
!/fish/.config/fish/functions/z.fish
!/ncmpcpp/.config/mpd/mpd.conf
!/ncmpcpp/.ncmpcpp/config

catnap/.config/catnap/distros.toml
fish/.config/fish/conf.d
fish/.config/fish/fish_variables
nvim/.config/nvim/lazy-lock.json
