.git
.env
*.bak*
*.map*
*.tmp.*
\[*\]
Neogit*
[Nn]eo-tree*
migrations
filesystem

/.config/alacritty/colorschemes/*
!/.config/alacritty/colorschemes/Tokyo_night.toml

/.config/ghostty/shaders/*

/.config/fish/fish_variables

/.config/mpd/*
!/.config/mpd/mpd.conf
/.ncmpcpp/*
/.ncmpcpp/config

/.config/catnap/distros.toml

/.config/nvim/lazy-lock.json
/.config/nvim/lazyvim.json

/.config/nushell/history.*

/.config/mpvlock/themes/*

.opencode/
dbui

.sass-cache

.agents
