.git
.env
*.bak*
*.old*
*.map*
*.tmp.*
\[*\]
Neogit*
[Nn]eo-tree*
migrations
filesystem

/.config/alacritty/colorschemes/*
!/.config/alacritty/colorschemes/Tokyo_night.toml

/.config/ghostty/shaders/*

/.config/fish/fish_variables*
/.config/fish/conf.d/fish_frozen_*.fish

/.config/mpd/*
!/.config/mpd/mpd.conf
/.ncmpcpp/*
/.ncmpcpp/config

/.config/catnap/distros.toml

/.config/nvim/lazy-lock.json
/.config/nvim/lazyvim.json

/.config/Windsurf/User/*
!/.config/Windsurf/User/keybindings.json
!/.config/Windsurf/User/settings.json

/.config/nushell/history.*

/.config/mpvlock/themes/*

.opencode/
dbui

.sass-cache

.agents

output:tasks
