* {
  min-height: 12px;
  border: none;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  /* background-color: rgba(30, 30, 46, 0.3); */
  background-color: rgba(0, 0, 0, 0.1);
}

tooltip {
  color: #cdd6f4;
  background-color: #111;
  border-width: 0;
}

#workspaces button {
  box-shadow: none;
  background-color: transparent;
  text-shadow: none;
  padding: 0 4px;
  color: #cddceb;
}

#workspaces button.active {
  margin: 0 3px;
  padding: 0 12px;
  color: #2d333c;
  /* background-color: #bb7b3c; */
  background-color: #8655a8;
  box-shadow: inset 0 -3px #c792ea;
}

#workspaces button:hover {
  color: #334;
  /* background-color: #ac90f3; */
  background-color: rgba(0, 0, 0, 0.2);
}

#taskbar {
  padding: 0;
}

#taskbar button {
  margin: 0 2px;
  padding: 0 8px;
  color: #cddceb;
  background-color: #536d64;
  box-shadow: none;
  text-shadow: none;
}

#taskbar button.active {
  margin: 0 3px;
  padding: 0 12px;
  background-color: #ac90f3;
}

#taskbar button:hover {
  background-color: #ac90f3;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-layout,
#bluetooth {
  padding: 0 10px;
  color: #32336e;
  text-shadow: none;
  box-shadow: none;
}

#clock {
  margin: 0 10px;
  padding: 0 10px;
  color: #cddceb;
  background-color: #a32f18;
  box-shadow: none;
}
#cpu {
  color: #cddceb;
  background-color: #4224a4;
}
#network {
  padding: 0 20px 0 10px;
  color: #259cae;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-appmenu {
  margin: 3px 1px;
  padding: 0;
  padding: 0 4px 0 6px;
  color: #cddceb;
  background-color: #4126a2;
  box-shadow: none;
  text-shadow: none;
}

#mpd {
  padding: 0 10px;
  /* background-color: #66cc99; */
  background-color: mediumpurple;
  color: #32336e;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #32336e;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#pulseaudio:hover {
  background-color: #a37800;
}

#memory {
  background-color: #9b59b6;
}

#backlight {
  background-color: #90b1b1;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#language {
  padding: 0 5px;
  margin: 0 5px;
  opacity: 0.6;
  font-size: 14px;
  color: #ccc;
  background-color: #740864;
  border-radius: 5px;
}

#keyboard-state {
  background-color: #97e1ad;
  color: #000;
  margin: 0 5px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background-color: rgba(0, 0, 0, 0.2);
}

#battery {
  background-color: rgba(200, 255, 200, 0.5);
  color: #333;
}

#battery.charging,
#battery.plugged {
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: rgba(200, 255, 200, 0.5);
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-updates {
  color: #ffcc00;
  font-size: 16px;
  padding-left: 7px;
}

#custom-updates.updates-available {
  color: #22cc55;
}

#custom-updates.updates-none {
  color: #215fad;
}

#bluetooth {
  color: #cddceb;
  background-color: #3322cc;
}

#custom-weather {
  padding: 0 10px;
  font-family: "Nerd Font Complete", "Font Awesome 5 Free",
    "Font Awesome 5 Brands", sans-serif;
  font-size: 14px;
  color: #eeaa44;
}
