// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  popover {
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 8px;
    padding: 8px;

    button {
      background: none;
      border: none;
      color: white;
      padding: 8px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
